/* @DESKTOP-FIRST-STRATEGY

  > WARNING!
  > ORDER OF BREAKPOINTS MATTERS!

    [default]
    ...
    atXLarge
    atLarge
    atMedium
    atSmall

*/

::selection {
  background-color: var(--color-primary);
  color: var(--color-white);
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-gray-dark-2);
}
